panelframe panelframeswitcher {
  margin: 6px;
}
paneldockchild:not(.center) {
  background-color: @theme_bg_color;
}
paneldockswitcher box.linked revealer:first-child button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0px;
}
paneldockswitcher box.linked revealer:last-child button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
paneldockswitcher box.linked revealer:not(:first-child):not(:last-child) button {
  border-radius: 0px;
  border-right-width: 0px;
}

panelwidget {
  background-color: @theme_bg_color;
}
panelgrid panelwidget {
  background-color: transparent;
}
panelwidget.maximized {
  margin: 24px;
  border-radius: 5px;
  box-shadow: 0 0 32px 50px alpha(@borders,.3),
              0 1px 3px 1px rgba(0,0,0,.35);
  border: 1px solid shade(@borders, 0.9);
}
panelwidget.maximized:backdrop {
  box-shadow: none;
  border: 1px solid alpha(@borders, 0.5);
  transition: 200ms ease-out;
}

panelwidget listview {
  background: transparent;
}

panelmaximizedcontrols {
  margin-right: 6px;
  margin-top: 6px;
}
panelmaximizedcontrols button.close {
  box-shadow: 0 0 3px @borders;
}

panelframe.vertical panelwidget {
  margin-left: 1px;
  margin-right: 1px;
}
panelframe.horizontal panelwidget {
  margin-top: 1px;
  margin-bottom: 1px;
}

/* TODO: There is no variable for this, need theme variants */
panelframe.horizontal.drop-after {
  box-shadow: inset 0 0 0 1px #2ec275,
              inset -1px 0 0 1px #2ec275,
              inset -2px 0 0 1px #2ec275;
  padding-right: 3px;
}
panelframe.vertical.drop-after {
  box-shadow: inset 0 0 0 1px #2ec275,
              inset 0 -1px 0 1px #2ec275,
              inset 0 -2px 0 1px #2ec275;
  padding-bottom: 3px;
}
