@define-color sidebar_color shade(@theme_bg_color, 0.96);

/* paneldockswitcher */
paneldockswitcher > box > revealer > button {
  margin-right: 3px;
}
paneldockswitcher > box > revealer:last-child > button {
  margin-right: 0px;
}

panelframeheaderbar button {
  border-color: transparent;
  padding: 0;
  margin: 3px 6px;
}

panelframeheaderbar button:not(:hover):not(:active) {
 background: transparent;
}

.bottom panelpaned textview text,
.start panelpaned textview text,
.end panelpaned textview text {
  background: transparent;
}

.bottom panelpaned panelframe textview,
.end panelpaned panelframe textview,
.start panelpaned panelframe textview {
  background: @sidebar_color;
}

.bottom panelpaned panelframe list,
.end panelpaned panelframe list,
.start panelpaned panelframe list {
  background: @sidebar_color;
}

panelpaned.vertical panelframe panelframeswitcher {
  background: @sidebar_color;
  padding: 0px 6px;
}

panelpaned.horizontal panelframe panelframeswitcher {
  background: @sidebar_color;
  padding: 6px 0px;
}

panelframe panelframeswitcher button:active {
  color: alpha(currentColor, .75);
}

panelframe panelframeswitcher button:checked {
  color: @theme_fg_color;
}

panelframe panelframeswitcher button {
  padding: 0;
  margin: 3px 6px;
  color: alpha(currentColor, .5);
  background: transparent;
}

.statusbar {
  min-height: 24px;
  border-top: 1px solid @borders;
}


panelframe .frameheader .action-bar popover row {
  padding: 3px 6px;
  border-radius: 4px;
}
panelframe .frameheader .action-bar popover row:selected {
  font-weight: bold;
}
panelframe .frameheader .action-bar popover row:selected:not(:hover) {
  background: transparent;
}
panelframe .frameheader .action-bar popover row .close-button {
  padding: 0;
  margin: 3px 0;
  min-width: 24px;
  min-height: 24px;
  border-radius: 99px;
  border: none;
  box-shadow: none;
  background: none;
  color: transparent;
}
panelframe .frameheader .action-bar popover row:hover .close-button {
  background: alpha(@theme_fg_color, .15);
  color: @theme_fg_color;
}
panelframe .frameheader .action-bar popover row:selected:hover .close-button {
  color: @theme_selected_fg_color;
}
panelframe .frameheader .action-bar popover row .close-button:hover {
  background: alpha(black, .3);
}
panelframe .frameheader .action-bar popover row .close-button:active {
  background: alpha(black, .5);
}
